.estra img{
    width: 10%;
    position: left;
}

.indie-flower-regular{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(203, 26, 120); 
    display: block;   
}

.img1 {
    display: inline;
    position: relative;
    width: 100%;
    float: right;
    text-align: right;
}

h1 {
    font-size: 65px;
    position: absolute;
    left: 10%;
}

h2 {
    color: rgb(203, 26, 120);
    padding: 10px;
}

.text2 {
    position: absolute;
    top: 55%;
    left: 11%;
    color: darkgrey;
}

.firstview{
    position: absolute;
    top: 20%;
    left: 120px;
    margin: 0;
    z-index: 0;
}

h3{
    color: gray;
    font-size: 20px;
    display: block;
}

.service{
    position: center;
}

.text{
    color: rgb(203, 26, 120);
    position: absolute;
    top: 48%;
    left: 10%;
}

span{
    color: rgb(11, 180, 177)
}

.estra{
    position: left;
}

ul{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: right;
}

li{
    display: inline;
    padding: 0 10px;
}

.header-nav {
    position: relative;
}

.header-nav-list{
    text-align: right;
}

.nav-list{
    float: left;
    width: 100px;
    top: 10px;
    right: 20px;
    bottom: 30px;
    left: 40px;
}

.news{
text-align: center;
}

.img2 img{
    width: 300px;
    float: right;
    margin: 0 0 50px 100px;
}

.ttl2{
    text-align: center;
}

.about{
    text-align: center;
}

.float {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
}

.wrap2 {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-right: 100px;
    background-color: rgb(237, 233, 233);
}

.text3{
    color: rgb(101, 99, 99);
}

.flex{
    display: flex;
    justify-content: right;
}


.relative {
    position: relative;
}

.relative_img {
    margin: 0 0 0 auto;
    display: block;
    width: 50%;
}

.practice__btn {
    width: 400px;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 20px;
    background-color: rgb(196, 5, 101);
    text-align: center;
    margin: 20px;
}

.table{
    width: 200px;
    background-color: gainsboro;
    color: rgb(110, 107, 107);
}

.table2{
    width: 600px;
    color: rgb(110, 107, 107);
}

th,td{
    border-bottom: 1px solid gray;
    padding: 10px;
    text-align: left;
}

.table1{
    background-color: lightgray;
}


.table3{
    width: 50px;
    color: gray;
}

.table4{
    width: 150px;
}



.title{
    color: gray;
}


.grid{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 400px 1fr;
}

.img3{
    width: 20%;
    grid-column: 2/2;
    grid-row: 1/2;
}




.img5{
    width: 20%;
    grid-column: 2/2;
}




.img3 img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    background: rgb(196, 5, 101);
    
}

.img4 img{
    width: 35%;
    grid-column: 2/3;
    grid-row: 1/3;
    background: rgb(196, 5, 101);
    padding-left: 35%;
    padding-top: 10%;
    padding-right: 30%;
    padding-bottom: 55%;
}

.img5 img{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    background: rgb(196, 5, 101);
}

.wrap{
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 100px;
    background-color: rgb(237, 233, 233);
}


.blog_item{
    display: flex;
    justify-content: space-between;
}

.blog_card{
    position: relative;
width: 25%;
border-radius: 0px 0px 20px 20px;
}

.blog_img img{
    width: 100%;
    border-radius: 20px 20px 0px 0px; 
    position: relative;
}

.blog_content{
    padding: 10px 10px;
    background-color: #ffffff;
}

.blog_ttl{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
}

.blog_cat{
    background: rgb(195, 14, 111);
    margin-bottom: 15px;
    padding: 5px 10px;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 0px 0px 0px;
}

.card_date{
    font-size: 12px;
    text-align: left;
    display: inline-block;
}

.card_tag{
    font-size: 12px;
    text-align: right;
    display: inline-block;
}

.btn{
    border: solid;
    width: 150px;
    padding: 20px 40px;
    text-align: center;
    color: crimson;
    background-color: #FFF;
    border-radius: 40px;
    margin: 0 auto;
}

.btn::before{
    background: url(../img/img4/mailicon.svg);
}


table{
    margin-left: auto;
    margin-right: auto;
}



.recruit_img{
    position: relative;
}

.recruit_img{
   color: #FFF;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    left: 2%;
}

.img7 img{
    width: auto;
    position: relative;
}

.interview_img{
    position: absolute;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    left: 65%;
}

.images{
    display: flex;
    justify-content: center;
}
.contact{
    text-align: center;
}

.mail_btn{
    position: relative;
    background-color: rgb(187, 6, 103);
    width: 200px;
    display: block;
    padding: 25px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    margin: 120px auto;
    background: linear-gradient(90deg, #ff1493, #c71585);
    box-shadow: 0 10px 0 #990066;
}

.mail_btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    background: url(../img4/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translate(0, -50%);
}

footer{
    background-color: rgb(223, 222, 222);
    height: 70px;
    color: darkgray;
    text-align: center;
}

.copy{
    top: 20px;
}